.content{
    background-color: var(--blackLight);
    max-height: calc(100vh - 98px);
    overflow-y: auto;
    position: relative;
}

/* width and height are mandatory */

.content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
  /* Track */
.content::-webkit-scrollbar-track {
    background: var(--blackLight);
}
  
  /* Handle */
.content::-webkit-scrollbar-thumb {
    background: #888;
    display: none;
  }

  .content:hover.content::-webkit-scrollbar-thumb{
    display: block;
  }
  
  /* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  