.browseCard{
    height: 200px;
    overflow: hidden;
}

.browseOrange{
   background-color: #fb8500;
}

.browseRed{
    background-color: #c1121f;
 }

 .browseIndigo{
    background-color: #8338ec;
 }

 .browseGray{
    background-color: #355070;
 }

 .browseBrown{
    background-color: #bb3e03;
 }

 .browseCardImage{
    width: 100px;
    height: 100px;
    background-color: #fff;
    transform: rotate(25deg);
    bottom: -2px;
    right: -25px;
 }
 .browseCardImage img{
    width: 100%;
    height: 100%;
 }